/.env.local
/.env.*.local
/var/
/vendor/
/public/bundles/
/config/reference.php
/frontend/node_modules/
/frontend/dist/
/frontend/coverage/
/frontend/tsconfig.tsbuildinfo
/.idea/

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
